@charset "utf-8";
/* CSS Document */
header {
	background-image: url(../502/images/header-mana1.jpg);
	background-repeat: repeat;
	background-attachment: scroll;
	height: 200px;
	width: auto;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	font-size: 29px;
	font-weight: 500;
	color: #FFFFFF;
	border-radius: 15px;
}
h1 {
	background: #00F;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color : #FF0;
}
h2 {
	line-height: 12px;
}
body {
background: linear-gradient( 45deg, #066, #09C);	width:800px;
	margin-left:auto;
	margin-right:auto;
}
section {
	line-height: 25px;
	color: #FFFFFF;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	background-color: #215384;
	border-radius: 10px;
	padding: 10px;
	width: auto;
	border: thin none #000099;
}
footer {
	font-weight: bold;
	font-size: 9px;
	text-align: center;
}
#list {
	text-decoration: blink;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: 24px;
	font-weight: bold;
	color: #09F;
}
.HH {
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
	font-size: 18px;
	font-style: italic;
	font-weight: bolder;
	text-decoration: blink;
	line-height: 25px;
}
.padding {
	padding: 0px 0px 0px 10px;
}
