@charset "utf-8";
#container {
	width: 65%;
	font-style: normal;
	font-weight: 400;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
header {
	background-image: url(../502/images/header.jpg);
	height: 150px;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	border-radius: 10px;
}
h4 {
	margin-top: 1px;
	color: #00F;
	font-size: 14px;
}
body {
	width: 100%;
	background-image: url(../502/images/background.jpg)
}
.white {
	display: block;
	border: thin solid #00F;
	padding-left: 5px;
	font-family: sans-serif, Arial;
	font-size: 22px;
	background-color: #03F;
	color: #FFF;
	line-height: 30px;
	padding-right: 5px;
	border-radius: 10px;
	font-style: normal;
	font-weight: 300;
}
.blue {
	display: block;
	border: thin solid #00F;
	padding-left: 5px;
	font-size: 22px;
	background-color: #FFFFFF;
	color: #00F;
	line-height: 30px;
	padding-right: 5px;
	border-radius: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
	font-family: sans-serif, Arial;
	font-style: normal;
	font-weight: 300;
}
.h2blue {
	color: #00F;
}
body img {
	margin: 5px;
	position: fixed;
	display: block;
	right: 0px;
	border-radius: 10px;
}
h2 {
	margin-top: 10px;
	margin-bottom: 10px;
	font-weight: 400;
	color: #FFF;
	font-family: aclonica;
	font-style: normal;
}
p {
	margin: 0px;
}
#container footer a img {
	display: inline;
	position: static;
	border-radius:0px;
}
footer {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 10px;
	margin-top: 20px;
	border: thin solid #00F;
	border-radius: 10px;
}
