/*
Credit: http://www.templatemo.com
*/

body {
	margin: 0;
	padding: 0;
	line-height: 1.7em;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #707b84;
	background-color: #3e464d;
	text-align: center;
}
a:link, a:visited {
	color: #0066CC;
	text-decoration: none;
	font-weight: normal;
}
a:active, a:hover {
	color: #008400;
	text-decoration: underline;
	background-color: #0489CE;
}
p {
	margin: 0px;
	padding: 0px;
}
img {
	padding: 0px;
	border: none;
	display: block;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.float_l {
	float: left;
}
.float_r {
	float: right;
}
.divider {
	background: url(../502/webquest/images/divider.jpg) repeat-x bottom;
}
.cleaner {
	clear: both;
	width: 100%;
	height: 0px;
	font-size: 0px;
}
.cleaner_h10 {
	clear: both;
	width: 100%;
	height: 10px;
}
.cleaner_h20 {
	clear: both;
	width: 100%;
	height: 20px;
}
.cleaner_h30 {
	clear: both;
	width: 100%;
	height: 30px;
}
.cleaner_h40 {
	clear: both;
	width: 100%;
	height: 40px;
}
.cleaner_h50 {
	clear: both;
	width: 100%;
	height: 50px;
}
.cleaner_h60 {
	clear: both;
	width: 100%;
	height: 60px;
}
.button_01 a {
	display: block;
	width: 70px;
	height: 22px;
	padding: 5px 2px 0 30px;
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	background: url(../502/webquest/images/templatemo_button_01.png) no-repeat;
}
.button_01 a:hover {
	color: #ffffff;
	background: url(../502/webquest/images/templatemo_button_01_hover.png) no-repeat;
}
h2 {
	margin: 0 0 5px 0;
	padding: 10px 0;
	font-size: 24px;
	font-weight: normal;
	color: #106fb8;
	text-align: left;
}
h3 {
	margin: 0;
	padding: 2px 0;
	font-size: 14px;
	font-weight: bold;
	color: #3e464d;
}
#templatemo_wrapper {
	width: 980px;
	margin: 0 auto;
}
/* header */

#templatemo_header_wrapper {
	width: 100%;
	background: #fff;
}
#templatemo_header {
	clear: both;
	width: 960px;
	height: 200px;
	margin: 0 auto;
	padding: 0 10px;
	background: url(../502/webquest/images/templatemo_header.jpg) no-repeat;
}
#templatemo_header p {
	clear: both;
	padding-left: 50px;
	width: 500px;
	font-size: 18px;
	font-style: italic;
	line-height: 26px;
}
#templatemo_header #site_title {
	float: left;
	padding-top: 10px;
	margin-left: 50px;
	margin-bottom: 10px;
	width: 300px;
	height: 150px;
	text-align: center;
	overflow: hidden;
}
#site_title h1 {
	margin: 0px;
	padding: 15px 0 0 0;
}
#site_title h1 a {
	font-size: 30px;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
}
#site_title h1 a:hover {
	font-weight: bold;
	text-decoration: none;
}
#site_title h1 a span {
	display: block;
	margin-top: 10px;
	margin-left: 5px;
	font-size: 14px;
	color: #999;
	font-weight: normal;
	letter-spacing: 2px;
}
/* end of header */

/* menu */

#templatemo_menu_wrapper {
	width: 100%;
	height: 90px;
	margin: 0 auto;
	background: url(../502/webquest/images/templatemo_menu.jpg) repeat-x;
}
#templatemo_menu {
	width: 1070px;
	height: 90px;
	margin: 0 auto;
	padding: 0 30px;
	text-align: center;
}
#templatemo_menu ul {
	float: left;
	margin: 0px;
	padding: 0px;
	list-style: none;
}
#templatemo_menu ul li {
	padding: 0px;
	margin: 0px;
	display: inline;
}
#templatemo_menu ul li a {
	position: relative;
	float: left;
	width: 152px;
	display: block;
	height: 40px;
	padding: 50px 0 0 0;
	text-align: center;
	font-size: 14px;
	text-decoration: none;
	color: #333333;
	font-weight: bold;
	outline: none;
}
#templatemo_menu li a:hover, #templatemo_menu li .current {
	color: #008400;
	background: url(../502/webquest/images/templatemo_menu_hover.jpg) bottom no-repeat;

}
/* end of menu */

/* content */

#templatemo_content_wrapper {
	width: 920px;
	padding: 30px;
	margin: 0 auto;
	display: block;
}
#templatemo_sidebar {
	float: left;
	width: 270px;
}
.sidebar_box {
	padding: 20px 30px;
	background: #fff;
}
.sidebar_box_bottom {
	width: 270px;
	height: 15px;
	margin-bottom: 30px;
	background: url(../502/webquest/images/templatemo_sidebar_section_bottom.jpg)
}
.news_box {
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px dashed #8a9ba8;
	color: #000000;
	text-align: left;
}
.news_box .post_info {
	font-size: 11px;
	color: #666666;
}
.news_box .post_info a {
	color: #157ad2;
	font-weight: normal;
}
.news_box a {
	color: #000000;
	font-weight: normal;
}
.news_box span {
	color: #157ad2;
}
.sidebar_box label {
	display: block;
	margin-bottom: 10px;
}
.sidebar_box #input_field {
	height: 20px;
	width: 200px;
	padding: 0 5px;
	margin-bottom: 10px;
	color: #000000;
	font-size: 12px;
	font-variant: normal;
	line-height: normal;
}
.sidebar_box #submit_btn {
	float: right;
	height: 30px;
	width: 80px;
	margin: 0px;
	padding: 3px 0 15px 0;
	cursor: pointer;
	font-size: 12px;
	text-align: center;
	vertical-align: bottom;
	white-space: pre;
	outline: none;
}
#templatemo_content {
	float: right;
	width: 590px;
	max-height: 200px;
	-webkit-transition: all 2s ease 0s;
	-moz-transition: all 2s ease 0s;
	-ms-transition: all 2s ease 0s;
	-o-transition: all 2s ease 0s;
	transition: all 2s ease 0s;
}
.content_box {
	clear: both;
	width: 530px;
	padding: 20px 30px;
	background: #fff;
	text-align: left;
}
.content_box_bottom {
	width: 590px;
	height: 36px;
	margin-bottom: 20px;
	background: url(../502/webquest/images/templatemo_content_bottom.jpg) no-repeat;
}
.content_box .image_fl {
	float: left;
	margin-top: 3px;
	margin-bottom: 0;
	margin-left: 0;
}
.content_box .section_w250 {
	width: 300px;
}
.list_01 {
	margin: 0 0 0 20px;
	padding: 0;
	list-style: decimal-leading-zero;
}
.list_01 li {
	color: #008400;
	margin-bottom: 7px;
}
/* end of content */
.button {
	-moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
	box-shadow: inset 0px 1px 0px 0px #ffffff;
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background: -moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	background-color: #ededed;
	-webkit-border-top-left-radius: 37px;
	-moz-border-radius-topleft: 37px;
	border-top-left-radius: 37px;
	-webkit-border-top-right-radius: 0px;
	-moz-border-radius-topright: 0px;
	border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 37px;
	-moz-border-radius-bottomright: 37px;
	border-bottom-right-radius: 37px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-bottom-left-radius: 0px;
	text-indent: 0;
	border: 1px solid #dcdcdc;
	color: #777777;
	font-family: Times New Roman;
	font-size: 30px;
	font-weight: bold;
	font-style: normal;
	height: 40px;
	line-height: 40px;
	width: 100px;
	text-decoration: none;
	text-align: center;
	text-shadow: 1px 1px 0px #ffffff;
	margin-right: auto;
	margin-left: 600px;
	display: inline-block;
}
.button:hover {
	background: -moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	background-color: #dfdfdf;
}
.button:active {
	position: static;
	top: 1px;
}


/* footer */

#templatemo_footer_wrapper {
 width: 100%;
 margin: 0 auto;
 background: #fff url(../502/webquest/images/templatemo_footer_top.jpg) top repeat-x;
}
#templatemo_footer {
	position: relative;
	width: 920px;
	margin: 0 auto;
	padding: 30px;
	text-align: center;
	color: #7c7471;
}
#templatemo_footer a {
	color: #333333;
}
#templatemo_footer .footer_menu {
	margin: 0 0 10px 0;
	padding: 0px;
	list-style: none;
}
.footer_menu li {
	margin: 0px;
	padding: 0 20px;
	display: inline;
	border-right: 1px solid #333333;
}
.footer_menu .last_menu {
	border: none;
}
/* end of footer */
#templatemo_footer_wrapper {
	background-color: #FFF;
	background-image: url(../502/webquest/images/templatemo_footer_top.jpg);
	background-repeat: repeat-x;
	position: absolute;
}
#templatemo_content_wrapper #templatemo_content .content_box ul li {
	color: #093;
}
#templatemo_content_wrapper #templatemo_content .content_box object {
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}
#templatemo_content_wrapper #templatemo_content .content_box table tbody tr td table tbody tr td table tbody tr td table tbody tr td {
}
#templatemo_content_wrapper #templatemo_content .content_box table tbody tr td table tbody tr td table tbody tr td div strong {
	text-align: left;
}
#templatemo_footer_wrapper a img {
	display: inline;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}
#templatemo_content_wrapper #templatemo_content .content_box p {
	text-align: left;
}
#templatemo_content:hover {
	max-height: 700px;
}
